* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/nice_snow.png");
}

.navbar {
    background-color: #12a1dd;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 22px 0px rgba(21, 32, 37, 0.8)
}

.logo {
    padding-left: 20px;
}

.logo img {
    width: 30px;
}

.menu a {
    text-decoration: none;
    color: whitesmoke;
    padding: 5px;
}

.menu a:hover {
    background-color: #2783aa;
    padding: 5px;
    border-radius: 10px;
}

.container {
    width: 80%;
    margin: 50px auto;
    box-sizing: border-box;
}

.header img {
    display: block;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 22px 0px rgba(18, 160, 221, .8);
}

.header h1,
.header h3 {
    text-align: center;
}

.header h1 {
    font-size: 40px;
    margin-top: 15px;
}

.header h3 {
    padding-bottom: 20px;
}

.tentang,
.kontak {
    background-color: #12a0dd46;
    box-shadow: 0px 0px 22px 0px rgba(0, 170, 255, 0.5);
    padding: 10px;
    border-radius: 10px;
}

.content {
    padding-top: 20px;
    align-items: center;
    width: 70%;
    margin: auto;
}

.content img {
    position: relative;
    box-shadow: 0px 0px 22px 0px rgba(29, 37, 41, 0.8);
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    z-index: -1;
    float: left;
    shape-outside: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    -webkit-shape-outside: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    margin-right: 10px;
}

.content::before,
.content:after {
    content: " ";
    display: table;
    clear: left;
}

.about {
    margin-bottom: 50px;
}

.content p {
    line-height: 2rem;
}

.pengalaman span {
    font-weight: bold;
}

.judul {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

.garis {
    width: 180px;
    border-top: 3px solid black;
    margin: auto;
}

.portofolio ul {
    padding-top: 20px;
}

.portofolio img {
    display: block;
    width: 100%;
}

.content-porto {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    gap: 10px;
    justify-content: center;
}

.portofolio {
    padding-bottom: 40px;
}

.content-kontak {
    width: 50%;
    margin: auto;
}

.content-kontak label,
.content-kontak input,
.content-kontak textarea,
.content-kontak button {
    display: block;
    width: 100%;
    padding: 3px 0;
    border: none;
    border-radius: 5px;
}

.content-kontak button {
    background-color: rgb(60, 185, 223);
    margin-top: 10px;
    padding: 6px;
}

.content-kontak button:hover {
    background-color: rgb(49, 88, 100);
}

footer {
    width: 100%;
    height: 85px;
    background-color: #171e20;
    padding: 15px 0;
}

footer ul {
    list-style: none;
    width: 40%;
    height: 40px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

footer img {
    width: 30px;
    transition: .2s;
}

footer img:hover {
    transform: scale(1.2);
}

footer p {
    text-align: center;
    color: whitesmoke;
    padding-top: 20px;
}