* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/nice_snow.png");
}

/* Navbar */
.navbar {
    background-color: #12a1dd;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 22px 0px rgba(21, 32, 37, 0.8)
}

.logo a {
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
    padding-left: 20px;
}

.menu a {
    text-decoration: none;
    color: whitesmoke;
    padding: 5px;
}

.menu a:hover {
    background-color: #2783aa;
    padding: 5px;
    border-radius: 10px;
}

/* End Navbar */

.container {
    width: 80%;
    margin: 50px auto;
}

/* Header */
.header img {
    display: block;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 22px 0px rgba(18, 160, 221, .8);
}

.header h1,
.header h3 {
    text-align: center;
}

.header h1 {
    font-size: 40px;
    margin-top: 15px;
}

.header h3 {
    padding-bottom: 20px;
}

/* End Header */

/* Tentang */
.tentang {
    background-color: #12a0dd46;
    box-shadow: 0px 0px 22px 0px rgba(0, 170, 255, 0.5);
    padding: 10px;
}

.content {
    /* background-color: blueviolet; */
    display: flex;
    padding-top: 20px;
    align-items: center;
}

.content img {
    box-shadow: 0px 0px 22px 0px rgba(29, 37, 41, 0.8) -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.content p {
    padding-left: 20px;

}

.judul {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

.garis {
    width: 180px;
    border-top: 3px solid black;
    margin: auto;
}